<template>
  <div>
    <div class="col-12 p-0">
      <section class="hero-wrap hero-wrap-2">
        <div class="overlay"></div>
        <div class="container">
          <div
            class="row slider-text justify-content-center align-items-center"
          >
            <div
              data-wow-delay="1.3s"
              class="col-md-7 col-sm-12 text-center ftco-animate ftco-animated wow fadeInUp"
            >
              <h1 class="mb-3 bread">Welcome to KITE</h1>
              <p class="breadcrumbs">
                <span class="mr-2"><a href="\">Home</a></span> <span>Page</span>
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="container" id="content-web">
      <div class="col-12 p-0 m-0">
        <h3
          data-wow-delay="0.3s"
          data-wow-offset="10"
          class="title-pro wow fadeInDown"
        >
          Đọc gì hôm nay?
        </h3>
        <div class="col-12 m-0 block">
          <div class="col-12 row m-0 p-0" id="slick-item">
            <div
              class="col-2 wow fadeInUp product"
              v-for="(product, index) in products"
              :key="index"
            >
              <div class="overlay-outer">
                <router-link
                  :to="'/productinfo/' + product.url_product + '/' + product.id"
                  title="Chi tiết sản phẩm"
                >
                  <div class="hover-imgPRD">
                    <div class="overlay"></div>
                    <img
                      class="img-slider"
                      :src="
                        '/productImage/thumbnailImage/' + product.thumbnailImage
                      "
                      :alt="product.thumbnailImage"
                    />
                    <div class="content-details fadeIn_bottom">
                      <p class="content-title">Xem chi tiết</p>
                    </div>
                  </div>
                </router-link>
              </div>
              <div class="col-12 p-0 pt-2 pb-2 product-footer">
                <router-link
                  :to="'/productinfo/' + product.url_product + '/' + product.id"
                  title="Chi tiết sản phẩm"
                >
                  <h4>{{ product.product_name }}</h4>
                </router-link>
                <div class="col-12 p-0 m-0 row">
                  <span class="col-6 p-0">{{ product.price }} ₫</span>
                  <span
                    class="col-6 p-0 like"
                    title="Thích"
                    v-if="!product.like"
                    v-on:click="likeProduct(product.id, index)"
                    ><i class="far fa-heart" aria-hidden="true"></i
                  ></span>
                  <span
                    class="col-6 p-0 like"
                    title="Bỏ thích"
                    v-if="product.like"
                    v-on:click="unLikeProduct(product.id, index)"
                    ><i class="fas fa-heart" aria-hidden="true"></i
                  ></span>
                </div>
              </div>
            </div>
            <div class="col-12 p-2 text-center" v-if="total != page">
              <button class="btn btn-sm btn-success" v-on:click="loadMore">
                Xem thêm
              </button>
            </div>
          </div>

          <h3 class="title-pro wow fadeInDown">Tác giả nổi tiếng</h3>
          <div class="col-12 m-0 block">
            <div class="author-info-block row m-0">
              <div
                class="col-3 author-img wow fadeInDown"
                v-bind:style="{
                  backgroundImage:
                    'url(/authorImage/' + authors[0].avatar_image + ')',
                }"
              ></div>
              <div class="col-9 author-info wow rotateIn">
                <h4 v-if="typeof authors[0] != 'undefined'">
                  {{ authors[0].author_name }}
                </h4>
                <p>{{ authors[0].author_info }}</p>
                <div class="text-center">
                  <a class="view-more" href="#">Chi tiết</a>
                </div>
              </div>
            </div>
            <hr />
            <div class="author-list-block row m-0">
              <div
                class="col-4 p-0"
                v-for="(author, index) in changeAuthor"
                :key="index"
              >
                <div class="imgAuthor-hover">
                  <a href="#" title="Chi tiết tác giả">
                    <figure class="rounded-circle">
                      <img
                        :src="'/authorImage/' + author.avatar_image"
                        :alt="author.avatar_image"
                      />
                    </figure>
                  </a>
                </div>
                <h4>{{ author.author_name }}</h4>
                <div class="author-info-mini">
                  <p>{{ author.author_info }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0" id="footer">
      <div class="overlay"></div>
      <div class="infomation row m-0">
        <div data-wow-delay="0.5s" class="col-12 wow fadeInLeft">
          <h3>the kite shop</h3>
        </div>
        <div data-wow-delay="0.7s" class="col-3 wow fadeInUp">
          <h5 class="text-center">Liên hệ với chúng tôi</h5>
          <div class="p-2">
            <i class="fa fa-map-marker" aria-hidden="true"></i> 58 Tố Hữu, Hà
            Nội - Việt Nam
          </div>
          <div class="p-2">
            <i class="fa fa-phone" aria-hidden="true"></i> 0987654321
          </div>
          <div class="p-2">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            motconvit@gmail.com
          </div>
        </div>
        <div data-wow-delay="0.7s" class="col-5 slogan wow fadeInDown">
          <h5 class="text-center">Thay thói quen, đổi cuộc đời</h5>
          <div>
            <p>
              slogan các thứ các thứ. slogan các thứ các thứ. slogan các thứ các
              thứ. slogan các thứ các thứ. slogan các thứ các thứ.slogan các thứ
              các thứ.
            </p>
          </div>
        </div>
        <div data-wow-delay="0.7s" class="col-3 wow fadeInUp">
          <h5 class="text-center">Theo dõi chúng tôi</h5>
          <div class="p-2 text-center">
            <i class="fa fa-facebook-square" aria-hidden="true"></i> Facebook
          </div>
          <div class="p-2 text-center">
            <i class="fa fa-instagram" aria-hidden="true"></i> Instagram
          </div>
          <div class="p-2 text-center">
            <i class="fa fa-youtube-play" aria-hidden="true"></i> Youtube
          </div>
        </div>
        <div class="col-12 coppy-right">
          <div class="float-right">10M - <strong>15M</strong> One Year.</div>
          <div><strong>Copyright</strong> By NT &copy; 2020</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import client from "../../client";
export default {
  data() {
    return {
      authors: [{ author_info: "", author_name: "" }],
      products: [],
      offset: 10,
      limit: 20,
      total: 0,
      page: 1,
      token: this.$store.state.user.AUTH_TOKEN,
    };
  },
  computed: {
    changeAuthor: function () {
      return this.authors.filter((author, index) => {
        return index != 0;
      });
    },
  },
  methods: {
    loadMore() {
      client
        .post("api/loadmore", {
          offset: this.offset,
          limit: this.limit,
        })
        .then((response) => {
          this.products = this.products.concat(response.data.products);
          this.offset = this.limit;
          this.total = response.data.total;
          this.limit += 10;
          this.page++;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    likeProduct(id, index) {
      if (!this.$store.state.user.isLoggin) {
        if (confirm("Bạn phải đăng nhập để thực hiện tính năng này!!")) {
          this.$router.push("/login");
        }
      } else {
        client
          .post("api/auth/like", {
            id: id,
          })
          .then((res) => {
            if (res.data.status) {
              this.products[index].like = true;
            }
            if (!res.data.status) {
              this.$store.commit("logout");
              if (confirm("Tài khoản hết hạn vui lòng đăng nhập lại!!")) {
                this.$router.push("/login");
              }
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    unLikeProduct(id, index) {
      client
        .post("api/auth/unlike", {
          id: id,
        })
        .then((res) => {
          if (res.data.status) {
            this.products[index].like = false;
          }
          if (!res.data.status) {
            this.$store.commit("logout");
            if (confirm("Tài khoản hết hạn vui lòng đăng nhập lại!!")) {
              this.$router.push("/login");
            }
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
  async created() {
    try {
      const res = await client.post("api/home", {
        offset: this.offset,
        limit: this.limit,
      });
      this.authors = res.data.authors;
      this.products = res.data.products.products;
    } catch (error) {
      console.log(error);
    }
  },
  name: "Home",
  components: {},
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
section {
  background-image: url(../../assets/bg_1.jpg);
}
i:hover {
  cursor: pointer;
}
span.like {
  text-align: center;
  color: red;
}
</style>
