<template>
  <div class="container" id="content-web">
    <div class="col-12 row m-0 block">
      <div class="col-12 row m-0 p-0" style="border-bottom: 1px solid #ebebeb">
        <div class="col-5 imgpro">
          <div class="col-12 p-0">
            <a href="" title="Click xem ảnh sản phẩm.">
              <img
                :src="
                  '/productImage/thumbnailImage/' + productDetail.thumbnailImage
                "
                :alt="productDetail.thumbnailImage"
              />
            </a>
          </div>
        </div>
        <div class="col-7 pt-4 pb-3 prodinfo">
          <h4>{{ productDetail.product_name }}</h4>
          <div
            class="col-12 p-0 pt-3 pb-3 m-0"
            style="border-bottom: 1px solid #ebebeb"
          >
            <span class="pr-2">Tác giả: </span
            >{{ productDetail.author.author_name }}<br />
            <span class="pr-2">Nhà xuất bản: </span
            >{{ productDetail.company.company_name }}
          </div>
          <p><b>Giá: </b>{{ productDetail.price }} ₫</p>
          <p>
            <b>Thể loại: {{ productDetail.subcategorys.subcategory_name }}</b>
          </p>
          <p><b>Số trang: </b>{{ productDetail.page_number }}</p>
          <p style="border-bottom: 1px solid #ebebeb" class="m-0">
            <b>Sản phẩm có sẵn: {{ productDetail.quatity }}</b>
          </p>
          <span
            class="col-6 p-0 like"
            title="Thích"
            v-if="!productDetail.like"
            v-on:click="likeProduct(productDetail.id)"
            ><i class="far fa-heart" aria-hidden="true"></i
          ></span>
          <span
            class="col-6 p-0 like"
            title="Bỏ thích"
            v-if="productDetail.like"
            v-on:click="unLikeProduct(productDetail.id)"
            ><i class="fas fa-heart" aria-hidden="true"></i
          ></span>
        </div>
      </div>
      <div class="col-12 pt-4 pl-4">
        <h3>Thông tin mô tả</h3>
        <p v-html="productDetail.description"></p>
      </div>
    </div>
  </div>
</template>

<script>
import client from "../../client";
export default {
  data() {
    return {
      id: this.$route.params.id,
      productDetail: {
        author: {
          author_name: "",
        },
        company: {
          company_name: "",
        },
        subcategorys: {
          subcategory_name: "",
        },
      },
      token: this.$store.state.user.AUTH_TOKEN,
    };
  },
  async created() {
    try {
      const res = await client.post("api/prddetail/" + this.id);
      this.productDetail = res.data;
    } catch (error) {
      console.log(error);
    }
  },
  components: {},
  methods: {
    likeProduct(id) {
      if (!this.$store.state.user.isLoggin) {
        if (confirm("Bạn phải đăng nhập để thực hiện tính năng này!!")) {
          this.$router.push("/login");
        }
      } else {
        client
          .post("api/auth/like", {
            id: id,
          })
          .then((res) => {
            if (res.data.status) {
              this.productDetail.like = true;
            }
            if (!res.data.status) {
              this.$store.commit("logout");
              if (confirm("Tài khoản hết hạn vui lòng đăng nhập lại!!")) {
                this.$router.push("/login");
              }
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
    unLikeProduct(id) {
      client
        .post("api/auth/unlike", {
          id: id,
        })
        .then((res) => {
          if (res.data.status) {
            this.productDetail.like = false;
          }
          if (!res.data.status) {
            this.$store.commit("logout");
            if (confirm("Tài khoản hết hạn vui lòng đăng nhập lại!!")) {
              this.$router.push("/login");
            }
          }
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<style scoped>
i:hover {
  cursor: pointer;
  color: red;
}
span.like {
  text-align: center;
  color: red;
  font-size: 30px;
}
</style>
