<template>
  <div class="col-12 pt-5">
    <div class="col-6 m-auto p-4 body">
      <div class="form-group">
        <label for="Username">Username</label>
        <input
          type="text"
          class="form-control"
          id="Username"
          placeholder="Username"
          v-model="name"
        />
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input
          type="password"
          class="form-control"
          id="Password"
          placeholder="Password"
          v-model="password"
        />
      </div>
      <div class="alert alert-danger" role="alert" v-if="errors.length > 0">
        <ul class="m-0">
          <li v-for="(error, index) in errors" :key="index">{{ error }}</li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary" v-on:click="onSubmit">
        Login
      </button>
    </div>
  </div>
</template>

<script>
import client from "../client";
export default {
  data() {
    return {
      errors: [],
      name: "",
      password: "",
    };
  },
  created() {
    this.password = "";
    this.name = "";
    if (this.$store.state.user.isLoggin) {
      this.$router.go(-1);
    }
  },
  methods: {
    onSubmit() {
      this.errors = [];
      if (this.name.trim() == "") {
        this.name = "";
        this.errors.push("Username is required!!");
      }

      if (this.password.trim() == "") {
        this.password = "";
        this.errors.push("Password is required!!");
      }

      if (this.password.trim() != "" && this.name.trim() != "") {
        client
          .post("api/login", {
            name: this.name,
            password: this.password,
          })
          .then((response) => {
            if (!response.data.status) {
              this.errors = [];
              this.errors.push("Username or Password is incorrect");
            } else {
              this.$store.commit("isLoggin");
              this.$store.commit("AUTH_TOKEN", response.data.access_token);
              this.$store.commit("user", response.data.user);
              localStorage.setItem(
                "user",
                JSON.stringify(this.$store.state.user)
              );
              this.$router.go(-1);
            }
          })
          .catch((e) => {
            console.log(e);
          });
      }
    },
  },
};
</script>
<style>
.body {
  background-color: white !important;
}
</style>
