<template>
  <div class="col-12 p-0" id="header">
    <div id="menu">
      <div id="header-menu" class="container row">
        <router-link to="/" class="col-2">
          <img alt="logo" src="../assets/logo-nice.png" />
        </router-link>
        <div class="col-6" id="search">
          <form action="">
            <div class="input-group">
              <input
                id="search-input"
                type="text"
                class="form-control"
                placeholder="Search something here"
              />
              <div class="input-group-append">
                <button class="btn btn-info" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          <div id="search-block" class="col-10 p-0">
            <ul class="list-group list-group-flush"></ul>
          </div>
        </div>
        <div id="right-header" class="col-4 p-0" v-if="!isLogin">
          <ul
            class="nav navbar-top-links navbar-right"
            style="line-height: 40px"
          >
            <router-link to="/login">
              <li class="pl-2 btn btn-light btn-sm login-link">Đăng nhập</li>
            </router-link>
            <li class="pl-2">
              <a href="" class="btn btn-light btn-sm login-link">Đăng ký</a>
            </li>
            <li class="pl-2">
              <a class="btn btn-light btn-sm cart-link" href="">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span id="menuCart"></span>
              </a>
            </li>
          </ul>
        </div>
        <div id="right-header" class="col-4 p-0" v-if="isLogin">
          <ul
            class="nav navbar-top-links navbar-right"
            style="line-height: 40px"
          >
            <router-link to="/profile">
              <li class="pl-2 btn btn-light btn-sm login-link">
                {{ this.$store.state.user.name }}
              </li>
            </router-link>
            <li class="pl-2">
              <a class="btn btn-light btn-sm login-link" v-on:click="Logout"
                >Đăng xuất</a
              >
            </li>
            <li class="pl-2">
              <a class="btn btn-light btn-sm cart-link" href="">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                <span id="menuCart"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <nav class="navbar navbar-expand-sm navbar-light" id="nav-footer-menu">
        <div class="collapse navbar-collapse container pl-5" id="footer-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
              <router-link to="/" class="nav-link">Trang chủ</router-link>
            </li>
            <li class="nav-item">
              <a href="" class="nav-link">Sản phẩm</a>
            </li>
            <li class="nav-item">
              <a href="#footer" class="nav-link">Liên hệ</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import client from "../client";
export default {
  name: "Menu",
  computed: {
    isLogin() {
      return this.$store.state.user.isLoggin;
    },
  },
  methods: {
    Logout(e) {
      e.preventDefault();
      client
        .post("api/auth/logout")
        .then(() => {
          this.$store.commit("logout");
          this.$router.go(0);
        })
        .catch((e) => {
          console.log(e);
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
