*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
b{
	font-weight: normal !important;
}
a:hover{
	text-decoration: none;
}
body{
	background-color: rgba(128, 128, 128,0.34) !important;
	font-family: "roboto", sans-serif;
}
html {
	scroll-behavior: smooth;
}
/* @font-face{
	font-family: roboto;
	src : local("Roboto-Italic"),
	url('../../fonts/Roboto/Roboto-Italic.ttf');
}

@font-face{
	src : local("Roboto-BoldItalic"),
	url('../../fonts/Roboto/Roboto-BoldItalic.ttf');
	font-weight: bold;
} */
.backtotop{
	top: 88%;
	right: 2%;
	position: fixed;
	color: red;
	z-index: 9999;
	display: none;
	animation: nhaynhay 1.7s;
	animation-iteration-count: infinite;
}

/*load page*/
#preload {
	width: 100%;
	height: 100%;
	background: #ebebeb;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 99999999999;
	display: flex;
	justify-content: center;
	overflow-x: hidden;
	overflow-y: auto;
}
.load-block{
	display: flex;
	align-items: center;
}
.loading {
	color: #39495e;
	font-size: 2.2rem;
	text-transform: uppercase;
}
.circle {
	background-color: #c5cace;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	position: relative;
	margin-left: 1rem;
	animation-name: jump;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.circle:nth-child(3) {
	animation-delay: 0.3s;
}

.circle:nth-child(4) {
	animation-delay: 0.6s;
}

@keyframes jump {
	0% {
		top: 0rem;
		background-color: #fb151a;
	}

	25% {
		top: -4rem;
		background-color: deepskyblue;
	}

	50% {
		top: 0rem;
		background-color: #fb151a;
	}

	75% {
		top: -4rem;
		background-color: #fe9126;
	}

	100% {
		top: 0rem;
		background-color: lawngreen;
	}
}
/*end load page*/

@keyframes nhaynhay {
	from {top: 92%}
	to {top: 85%;}
}
.backtotop:hover{
	animation-play-state: paused;
}
#search button{
	width: 60px;
}
#search{
	position: relative;
}
#search-block{
	position: absolute;
	top: 100%;
	z-index: 999;
	width: 95%;
	background-color: white;
	box-shadow: rgba(33, 33, 33, 0.2) 0px 3px 10px;
	border-radius: 0 0 3px 3px;
	display: none;

}
#search-block ul{
	list-style: none;
}
#search-block ul li{
	list-style: none;
	border-bottom: 1px solid #ebebeb;
}
#search-block ul li a:hover{
	background-color: #ebebeb;
}
.img-slider{
	width: 100%;
	max-height: 250px;
	object-fit: cover;
}
#header{
	position: sticky;
	top:0;
	z-index: 999;
	background: rgba(61, 56, 56,1.3);
	box-shadow: 0 -11px 23px rgba(0,0,0,0.25), 0 3px 10px rgba(0,0,0,0.22);
}
#footer{
	background-image: url('../assets/footer.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	min-height: 200px;
	position: relative;
	z-index: 0;
	margin-top: 50px;
}
#footer .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: .2;
	z-index: 1;
}
.hero-wrap.hero-wrap-2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
	min-height: 500px;
	position: relative;
	z-index: 0;
}
.hero-wrap.hero-wrap-2 .breadcrumbs span,.hero-wrap.hero-wrap-2 .breadcrumbs span a {
	color: #fff;
}
.hero-wrap.hero-wrap-2 .overlay {
	z-index: -1 !important;
	opacity: .4 !important;
}
.hero-wrap.hero-wrap-2 .slider-text {
	height: 500px;
	z-index: 1;
}
.hero-wrap.hero-wrap-2 .bread {
	font-weight: 700;
	font-size: 60px;
	color: #fff;
	line-height: 1.1;
}
.hero-wrap.hero-wrap-2 .breadcrumbs {
	font-size: 18px;
	font-weight: 500;
}
.hero-wrap .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000000;
	opacity: .3;
	z-index: 1;
}
#nav-footer-menu {
	background: white;
	padding: 0 15px;
}

#menu{
	/*position: relative;*/
	background: rgba(61, 56, 56,1.3);
}

#header-menu{
	margin: auto;
	max-width: 95%;
	display: flex;
	align-items: center;

}
#footer-menu{
	margin: auto;
	max-width: 95%;
	display: flex;
	align-items: center;
	position: relative;
}

#footer-menu > ul >li:nth-child(n)::before{
	content: "";
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	background: #ebebeb;
	width: 2px;
}
#footer-menu > ul > li::after {
	content: '';
	display: block;
	width: 0%;
	height: 2px;
	margin-bottom: 3px;
	transition: background 0.5s linear;
	animation: dive 0.7s forwards;
}
@keyframes  disang{
	from { width: 0; }
	to { width: 100%;}
}
@keyframes  dive{
	from { width: 100%; }
	to { width: 0;}
}
#footer-menu > ul > li > a{
	color: #000;
	padding-bottom: 0;
}

#footer-menu > ul > li > a:hover::after {
	animation: disang 2s forwards;
}

#footer-menu > ul > li:hover::after {
	animation: disang 2s forwards;
	background-color: red;
}

#right-header{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
.login-link{
	background: transparent !important;
	border: none !important;
	color: white !important;
}

.login-link:hover{
	color: #1b9fff !important;
}

.register-link,.cart-link{
	border-radius: 50px;
}
.cart-link > span{
	color: red;
}
div.link-block{
	line-height: 20px;
	padding-top: .5rem;
}
.notifi{
	width: 350px;
	position: absolute;
	/*transform: translate3d(-13px, -10px, 0px);*/
	top: 10px !important;
	left:-120px !important;
	/*	will-change: transform;*/
}

.list-pro{
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 5px;
}
.title-pro{
	color: 	#3D3838;
	text-align: center;
	padding: 30px 0;
	font-weight: 700;
	border-radius: 1px solid black !important;
	position: relative;
	text-transform: uppercase;
}
.title-pro:before{
	content: 'kite';
	position: absolute;
	top: -10px;
	left: 39%;
	font-size: 100px;
	color: rgba(0, 0, 0, 0.04);
	font-weight: bolder;
	letter-spacing: 20px;
	text-transform: uppercase;
}
#slick-item{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#list-prd {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.block{
	padding: 30px 0 15px 0;
	background-color: #fff;
}
#list-prd .product{
	width: 18%;
	margin: 0;
	margin-bottom: 40px;
}

.product{
	padding: 0 10px;
	margin: 0 10px;
	background-color: white;
	/*box-shadow: 0 4px 2px -2px rgba(33,33,33,.2); */
	border-radius: 6px;
}
.product:hover{
	box-shadow: rgba(33, 33, 33, 0.2) 0px 3px 10px;
}
.product h4{
	color: #333;
	text-transform: uppercase;
	font-size: 15px;
	text-align: center;	
}
.product-footer a:hover{
	color: green;
	text-decoration: none;
}
.product-footer h4:hover{
	color: green;
	text-decoration: none;
}
.buy{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #333;
}
.buy:hover{
	color: green;
	text-decoration: none;
}
.like{
	color: #333;
}
.like:hover{
	color: green;
}
.img-slider{
	padding-top: 10px;
}

.overlay-outer {
	position: relative;
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.overlay {
	background: rgba(4,125,67,0.7);
	position: absolute;  
	height: 100%;
	width: 100%;
	left: 0;
	top: 10px;
	bottom: 0;
	right: 0;
	opacity: 0;
	transition: all 0.4s ease-in-out 0s;
}

a:hover .overlay {
	opacity: 1;
}

.content-details {
	position: absolute;
	text-align: center;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	top: 50%;
	left: 50%;
	opacity: 0;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease-in-out 0s;
}

.overlay-outer:hover .content-details {
	top: 50%;
	left: 50%;
	opacity: 1;
}


.content-details p {
	color: #fff;
	font-weight: 500;
	letter-spacing: 0.15em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
}

.fadeIn_bottom {
	top: 80%;
}
#content-web{
	max-width: 1250px;
}
.view-more{
	padding: 6px 20px;
	font-size: 17px;
	border: 1px solid;
	border-radius: 10px;
}
.view-more:hover{
	color: white;
	background-color: #007bff;
	border: none;
}
.author-img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 200px;
	max-width: 200px !important;
	z-index: 0;
	margin-left: 20px;
	/* background-image: url(/authorImage/28072020-748-tai-xuong.jpg); */
}
.author-info h4{
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}
.author-info p{
	font-size: 14px;
	max-height: 120px;
	overflow: hidden;
}
.author-info-mini{
	padding: 0 60px;
	border-left: 1px solid #e6e6e6;
	position: relative;
}
.author-info-mini p{

	font-size: 14px;
	max-height: 60px;
	overflow: hidden;
	text-align: center;

}
.author-info-mini:after{
	position: absolute;
	top: 50%;
	left: -2px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '';
	width: 3px;
	height: 30px;
	background: #daa592;
}
figure {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	padding: 0;
	background: #fff;
	overflow: hidden;
}
.imgAuthor-hover{
	display: flex;
	justify-content: center;
}
.imgAuthor-hover figure img {
	width: 100%;
	-webkit-transform: scale(1.5);
	transform: scale(1.3);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.imgAuthor-hover figure:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.author-list-block h4{
	margin-top:10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}
.author-list-block{
	padding: 0 20px;
}
.infomation{
	padding: 20px 40px 13px;
	color: #fff;
}
.infomation h3{
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	position: relative;
}
.infomation h3:after{
	content: '';
	position: absolute;
	top: 102%;
	left: 0;
	background-color: #599e67; 	
	height: 3px;
	width: 70px;
	border-radius: 2px;
}
.infomation .slogan div{
	max-height: 85px;
	overflow: hidden;
	font-size: 15px;
}
.coppy-right{
	padding-top: 10px;
	border-top: 2px solid #ebebeb;
	font-size: 14px;
}

.lightBoxGallery img{
	max-width: 70px; height: auto;
}

.lightBoxGallery .slick-prev:before,.lightBoxGallery .slick-next:before{
	color: #D3D3D3;
}

.lightBoxGallery .slick-prev{
	left:-15px;
}
.lightBoxGallery .slick-slider{
	margin-bottom: 0;
}
.lightBoxGallery button:hover:before{
	color: black;
}
.imgpro{
	border-right: 1px solid #ebebeb;
}
.imgpro>div:first-child{
	display: flex;
	justify-content: center;
	align-items: center;
}
.imgpro img{
	max-width: 100%;
	height: auto;
	padding:13px;
}
.prodinfo h4{
	text-transform: uppercase;
}
.prodinfo .totalrate{
	font-size: 14px;
}
span.checked{
	color: orange;
}
.buybtn{
	display: flex;
	margin-top: 23px;
}
.btn-add-favorite{
	color: black;
	font-size: 25px;
}
.btn-add-favorite:hover{
	color: red;
}
#rateScore > div > p{
	color: red;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
}
#rateScore{
	text-align: center;
	border-right: 1px solid #ebebeb;
}
#rateScore > div > span{
	font-size: 14px;
}
.star-progress-bar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 6px 0;
}
.star-progress-bar p{
	margin: 0;
	width: 50px;
}
.progress-bar{
	position: relative;
	width: 100%;
	height: 10px;
	background-color: rgb(239, 239, 239);
	border-radius: 10px;
	overflow: hidden;
}
.star-progress-bar .percent {
	font-size: 14px;
	font-weight: 300;
	text-align: right;
}
.star-progress-bar .progress-bar .progress {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 10px;
	background-color: rgb(92, 184, 92);
}
.user-info{
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	border-right: 1px solid #ebebeb;
}

.user-info .avatar {
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	width: 100px;
	height: 100px;
	margin: 13px 0;
	background-color: rgb(211, 210, 211);
	border-radius: 50%;
	overflow: hidden;
}
.rateInfomation .titleInfomation{
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	font-size: 16px;
	font-weight: 400;
	margin: 10px 0px 10px;
}
.titleInfomation p{
	margin: 0;
	margin-right: 20px;
}
.rateInfomation .content{
	font-size: 15px;
	padding-left: 10px;
}
#accordion nav ul li .parent{
	position: relative;
	border-bottom: 1px solid #D3D3D3;
	color: black;
}
#accordion nav ul li .parent::after{
	position: absolute;
	content: ' ';
	width: 3px;
	height: 30px;
	top: 5px;
	left: -10px;
	background-color: #ebebeb;
}
#accordion nav ul li a[aria-expanded="true"]{
	color: #6cb9f7;
}
.dropdown-item:hover{
	color: #6cb9f7;
}
.dropdown-item:focus{
	background-color: #f8f9fa!important;
}
.dropdown-item.active{
	color: #6cb9f7;
	background-color: #f8f9fa!important;
}
.dropdown-item.disabled:hover{
	color: black;
}
p.dropdown-item{
	background-color: #c1bfbf;
	text-align: center;
	font-weight: bold;
}
p.dropdown-item:hover{
	background-color: #c1bfbf;
	text-align: center;
	font-weight: bold;
	color: black;
}

p.del_bought span{
	color: rgb(27, 168, 255);
	display: inline-block;
	margin-right: 20px;
	font-size: 15px;
	cursor: pointer;
}
p.del_bought span:hover{
	color: #0056b3;
	text-decoration: underline;
}

#userinfo nav ul li span{
	background-color: #c1bfbf;
	text-align: center;
	font-weight: bold;
}
#userinfo nav ul li a{
	border-bottom: 1px solid #ebebeb;
	color: black;
}

#userinfo nav ul li a.active{
	color: #6cb9f7;
}

#userinfo nav ul li a:hover{
	color: #6cb9f7;
}

.orderinfo{
	color: black;
}
.orderinfo:hover{
	color: #6cb9f7;
}

table#ordertable tr td,table#ordertable tr th{
	font-size: 14px;
	padding: 0.45rem;
}
table#ordertable b{
	font-weight: bold !important;
}