<template>
  <div id="app">
    <!-- <router-link :to="{ name: 'home' }">home</router-link> -->
    <div class="container-fluid p-0">
      <Menu />
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import Menu from "./components/Menu";
export default {
  data() {
    return {};
  },
  name: "App",
  components: {
    Menu,
  },
};
</script>

<style>
@import "./assets/home.css";
/* @import "./assets/font-awesome/css/font-awesome.css"; */
</style>
